.login-container {
  min-height: 100vh;
  background: linear-gradient(135deg, #000000, #000000);
  display: flex;
  justify-content: center;
  align-items: center;
}

.login-card {
  background: white;
  padding: 40px 30px;
  border-radius: 16px;
  width: 350px;
  text-align: center;
  box-shadow: 0 20px 40px rgba(0, 0, 0, 0.25);
}

.login-card h2 {
  margin-bottom: 10px;
}

.login-card p {
  font-size: 0.9rem;
  color: #555;
  margin-bottom: 20px;
}

.login-card input {
  width: 100%;
  padding: 10px;
  margin-bottom: 12px;
  border-radius: 8px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
}

.login-btn {
  width: 100%;
  padding: 11px;
  background: linear-gradient(135deg, #19070b, #13060c);
  border: none;
  color: white;
  font-size: 1rem;
  border-radius: 25px;
  cursor: pointer;
  margin-top: 10px;
}

.login-btn:hover {
  opacity: 0.9;
}

.register-text {
  margin-top: 18px;
  font-size: 0.85rem;
}

.register-text span {
  color: #000000;
  cursor: pointer;
  font-weight: 600;
}
